body {
    display: flex;
    flex-direction: row;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0px 25px;
}

.form-container {
    opacity: 0;
    animation: fade-up 0.5s ease-out 0.25s forwards;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.form-container form {
    width: clamp(300px, 30vw, 400px);
    padding: 24px;

    background-color: var(--dark);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    border-width: 2px;
    border-style: dashed;
    border-color: var(--primary);
    border-radius: 16px;
}

.data-view {
    opacity: 0;
    animation: fade-up 0.5s ease-out 0.25s forwards;

    /* padding: 50px 0px; */

    width: 100%;
    max-height: 90%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* justify-content: center; */
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.content {
    flex-grow: 1;
}
