body {
    display: flex;
    flex-direction: row;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px 25px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.form-container form {
    width: clamp(300px, 30vw, 400px);
    padding: 24px;

    background-color: var(--dark);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.data-view {
    width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
}