header {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: var(--primary);
    font-size: clamp(20px, 3vw, 32px);
    position: relative;
}

header h1::before {
    content: "";

    width: 100%;
    height: 2px;

    border-radius: 1px;

    background-color: var(--primary);

    position: absolute;
    bottom: -2px;
}

header img {
    height: clamp(32px, 6vw, 64px);
}
